<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d %level %logger [%thread] - %m%n</Pattern>
        </layout>
    </appender>

    <logger name="com.cyclone" level="INFO"/>

    <!-- Root logging level, anything not specified above -->
    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.ning.http.client.providers.netty.spnego.SpnegoEngine" level="OFF"/>
</configuration>
